:root {
	--color-white: #fff;
	--color-background: #f5f5f5;
	--color-primary: rgba(9, 132, 227, 1.0);
	--color-red: #d63031;
	--color-green: #00b894;
	--font-family: 'Open Sans', sans-serif;
	--box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 10px;	
	font-family: var(--font-family);
}

body {
	padding: 2rem 4rem;
	background-color: var(--color-background);
}

header {
	width: 100%;
	margin-bottom: 2rem;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

header .connected {
	padding: 0.5rem 1rem;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 1.3rem;
	font-weight: 500;
	border: 1px solid var(--color-primary);
	color: var(--color-primary);
	background-color: var(--color-white);
}

header .logout {
	margin-left: 1rem;
}

h1 {
	display: block;
	width: 100%;
	text-align: center;
	margin-bottom: 4rem;
	font-size: 3rem;
	font-weight: 300;
	letter-spacing: 1px;
	text-transform: uppercase;
}

ul {
	list-style-type: none;
}

img {
	max-width: 100%;
}

a {
	color: black;
	text-decoration: none;
}

.bold {
	font-weight: bold;
}

.button {
	padding: 0.5rem 1rem;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 1.3rem;
	font-weight: 500;
	cursor: pointer;
	color: var(--color-white);
	background-color: var(--color-primary);
	border: 1px solid var(--color-primary);
	outline: none;
	transition: 0.3s;
}

.button:hover {
	color: var(--color-primary);
	background-color: var(--color-white);
	transition: 0.3s;
}